

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Back Page</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.aria-valuenow]="progreso" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso + '%'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ============================================================== -->
  <!-- Star Primeras columnas -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-outline-secondary btn-primary" type="button" (click)="cambiarValor(-20)">
                  <i class="mdi mdi-minus"></i>
              </button>
            </span>

<!--            [(ngModel)] es diferente de [ngModel] (ojo con eso que me dio un dolor de cabeza descubrirlo) -->
<!--            [(ngModel)] funciono para que yo pueda cambiar el valor 'progreso' dinamicamente por el input-->
            <input type="text" class="form-control" name="progreso" [(ngModel)]="progreso">
            <span class="input-group-btn">
              <button class="btn btn-outline-secondary btn-primary" type="button" (click)="cambiarValor(+20)">
                  <i class="mdi mdi-plus"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">Texto 1</div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- END Primeras columnas -->
  <!-- ============================================================== -->
