 <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Back Page</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.aria-valuenow]="progreso" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso + '%'"></div>
          </div>

          <div class="progress mt-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.aria-valuenow]="progreso" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso + '%'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ============================================================== -->
  <!-- Star Primeras columnas -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
<!--          Ahora puedo agregar atributos mios al app-ccomponent-->
<!--          Nota: si [atributo] = 'variable_component' y atributo = 'valor_al_atributo'-->
          <app-incrementador leyenda="Pregress bar Azul" [progreso]="20"></app-incrementador>   <!-- Progress pertenece a page.module, pues debemos -->
        </div>                                    <!-- importar incrementador al modulo Page aunque este en Root -->
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <app-incrementador leyenda="Pregress bar Verde" [progreso]="80"></app-incrementador>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- END Primeras columnas -->
  <!-- ============================================================== -->
